
/* 
    Visiblity: hidden; => place is hold
    diplay: none; => has no place in th page

*/


span {
    background-color: #ddd;
    padding: 10px;
    border-radius: 1.2em;
    display: block;
    margin: 2px;
}
div {
    background-color: #ddd;
    padding: 10px;
    border-radius: 1.2em;
    visibility: hidden;

}