.one {
    border-color: brown green blue blueviolet;
    color: burlywood;
}

.two {
    border-color: green brown blue blueviolet;
    color: rebeccapurple;
}

.three {
    border-color: brown blue green blueviolet;
    color: violet;
}

.four {
    border-color: blueviolet green blue brown;
    color: cadetblue;
}

.one, 
.two,
.three,
.four, .p-info {
    padding: 10px;
    background-color: #ddd;
    border-style: solid;
    border-width: 2px;   
    margin-top: 2em;
    border-radius: .8em;
}