/* dimensions */
/* div {
    background-color: #ddd;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    min-width: 400px;
    max-width: 400px;
    min-height: 40px;
    max-height: 60px;
} */

div{
    background-color: azure;
    padding: 10px;
    margin:10px;
    width: fit-content;
}