
/* 
=>  OverFlow
=> auto => {if content > area : scroll else: visible}
=> hidden => if content > area : hide
=> visible => defualt value and if content > area : show
=> scroll : always scroll

*/

div {
    width: 150px;
    height: 150px;
    background-color: #eee;
    margin: 20px auto;
    border-radius: 6px;
    overflow: auto;
}