/* 
    Text Color
    Color
    Text Shadow
    shadow => text-shadow: H-shadow V-Shadow Blur Color // not very friendly  
}
*/

/* div {
    background-color: #f9f9f9;
    color: rebeccapurple;
    text-shadow: 0 0 0 black;
} */

div {
    background-color: blanchedalmond;
    text-align: left;
    direction: ltr;
    line-height: 1.6;
    /* word-spacing: 50px; */
    /* white-space: nowrap; */
    word-break: break-word;
}

.arabic-syn {
    border-radius: 1.1em;
    margin: auto;
    margin-top:5px;
    width:80;
    direction: rtl;
    padding: 28px;
    text-align: right;
    word-break: break-all;
    /* text-decoration: overline; */
}

img {
    width: 50px;
    vertical-align: middle;
}
/*  vertical-align: middle;,bottom, top text-top, text-bottom  */

/* a {
    display: inline-block;
    margin: 5px;
    border-radius: 1.1em;
    padding: 25px;
    background-color: green;
    text-align: center;
    text-decoration: none;aa
} */

/* Transformation of Text */

/* .trans {
   // text-transform: capitalize;  
   text-transform: uppercase;
} */

/* spacing */


.trans {
    /*letter-spacing: 9px;*/
    text-indent: 22px;
    letter-spacing: 2px;
 }
