div {
    background-color: #DDD;
    padding:20px;
    /* margin-top:20px; */
    /* margin: 20%; */
    width: 80%;
    margin: auto;
    /* margin-left: auto;
    margin-right: auto; */
}
/* margin accepts negative values */